.grid{
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: blue;
  }
  
.grid div {
    width: 100px;
    height: 100px;
    background-color: yellow;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
  }
  
